ion-button {
  --background: #656565;
  --background-hover: #9cbfe0;
  --background-activated: #9cbfe0;
  --background-focused: #9cbfe0;
  --width: 40px;
  --height: 40px;
  /* --color: rgb(230, 38, 38); */
}
